# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/GreedyMonster/cocos2d
/GreedyMonster/proj.android
/GreedyMonster/proj.android-studio
/GreedyMonster/proj.ios_mac
/GreedyMonster/proj.linux
/GreedyMonster/proj.win8.1-universal
/GreedyMonster/proj.win10
/GreedyMonster/proj.win32
